<html>
  <head>
    
    <link rel ="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src='https://cdn.shopify.com/s/assets/external/app.js' ></script>
    <script>    

      ShopifyApp.init({
        
        apiKey: '<%= apiKey %>',
        shopOrigin: '<%= shopUrl %>',
        debug: true,
        forceRedirect: false

      });

      ShopifyApp.ready(function(){
        
        ShopifyApp.Bar.initialize({
          
          icon: 'https://jprivillasoshopify.herokuapp.com/images/favicon.png',
          title: '<%= title %>',
          
          buttons: {

            primary: {
              label: "Save",
              message: 'bar_save'
            },

            secondary: [
              { 
                label: "Cancel", 
                href: 'bar_cancel'
              },
              { 
                label: "Preview", 
                callback: function() {
                  ShopifyApp.Modal.open({
                    src: '/showProductId?product_id=<%= productId%>',
                    title: 'Product Id',
                    width: 'small',
                    height: 300,
                    buttons: {
                      primary: { label: "OK" },
                      secondary: [
                        { label: "Cancel", callback: function (label) { ShopifyApp.Modal.close(); } }
                      ]
                    }
                  });
                }
              }
            ]

          }

        });

        ShopifyApp.Bar.loadingOff();

      });
    
    </script>
  </head>

  <body></body>

</html>