<html>
  <head>
    
    <link rel ="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src='https://cdn.shopify.com/s/assets/external/app.js' ></script>
    <script>    

      var globalContext = {};
      globalContext.dumbFunction = function(){
        
        var self = this;

        ShopifyApp.Modal.open({
          src: '/showProductId?product_id=<%= productId%>',
          title: 'Product Id',
          width: 'small',
          height: 300,
          buttons: {
            primary: { label: "OK" },
            secondary: [
              { 
                label: "Cancel", callback: function (label) { 
                  var date = new Date();
                  self.changeText("New text: " + date.getTime());
                  ShopifyApp.Modal.close(); 
                } 
              }
            ]
          }
        });
      }

      globalContext.changeText = function(newText){
        document.getElementById("paragrafo").innerHTML = newText;
      }

      ShopifyApp.init({
        
        apiKey: '<%= apiKey %>',
        shopOrigin: '<%= shopUrl %>',
        debug: true,
        forceRedirect: false

      });

      ShopifyApp.ready(function(){
        
        ShopifyApp.Bar.initialize({
          
          icon: '/images/favicon.png',
          title: '<%= title %>',
          
          buttons: {

            primary: {
              label: "Save", 
              callback: function(message, data) {
                globalContext.dumbFunction();
              }
            },

            secondary: [
              { 
                label: "Cancel", 
                target: "shopify",
                href : "/products/<%= productId%>"
              },
              { 
                label: "Preview", 
                target: "new",
                href: "/products/<%= title%>"
              }
            ]

          }

        });

        ShopifyApp.Bar.loadingOff();

      });
    
    </script>
  </head>

  <body>

    <p id="paragrafo">Dumb Text</p>

  </body>

</html>